.homeHeader {
    background-image: url("../images/header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    height: 300px;
}

p {
    text-align: justify;
}

.custom {
    font-size: 1.75rem;
    letter-spacing: 3px;
    padding-top: 10px;
  }